@model IEnumerable<ProjectHouse.Models.House.HouseIndexViewModel>

@{
    int rowNumber = 1;
}

<div class="h1">
    Houses
</div>

<div>
    <a asp-action="create" asp-controller="house" type="submit" class="btn btn-primary">Create</a>
</div>

<form method="post">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nr</th>
                <th scope="col">Size</th>
                <th scope="col">NumberOfFloors</th>
                <th scope="col">NumberOfBathrooms</th>
                <th scope="col">NumberOfBedrooms</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var House in Model)
            {
                <tr>
                    <td>@rowNumber</td>
                    <td>@House.Size</td>
                    <td>@House.NumberOfFloors</td>
                    <td>@House.NumberOfBathrooms</td>
                    <td>@House.NumberOfBedrooms</td>
                    <td>
                        <a asp-action="details" asp-controller="house" asp-route-id="@House.Id" class="btn btn-info">Details</a>
                        <a asp-action="update" asp-controller="house" asp-route-id="@House.Id" class="btn btn-info">Update</a>
                        <a asp-action="delete" asp-controller="house" asp-route-id="@House.Id" class="btn btn-danger">Delete</a>


                    </td>
                </tr>
                rowNumber += 1;
            }
        </tbody>
    </table>
</form>
